.logo {
    font-family: $logo-font;
    @include font (24px, 1.17, 700);
    @include for-size(desktop) {
        @include font (26px, 1.19, 700)
    }
}

.logo--black {
    color: $logo-style-color;
    letter-spacing: 0.03em;
}

.logo--accent {
    color: $accent--color;
}

.logo--style {
    color: $logo-style-color;
}

.logo--white {
    color: $main-bg-color;
}